<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
  <a th:href="@{/logout}">thymeleaf退出</a>
  <a href="/logout">退出</a>
</body>
</html>