
#colResizableTable{
    width:100%;
    max-width:1600px;
}

#colResizableTable th{
    height:30px;
    background-repeat:no-repeat;
    color:white;
    text-shadow: #012b4d 2px 2px 2px;
    text-align: center;
}

#colResizableTable td{
    text-indent:5px;
    color:#444;
    border-bottom:1px solid #bbb;
    border-left:1px solid #bbb;
}

#colResizableTable td.disabled, th.disabled{
    width:100px;
    text-align: center;
    min-width:100px;
}

#colResizableTable td.left{
    border-left:1px solid #2e638e;
}

#colResizableTable td.right{
    border-right:1px solid #2e638e;
}

#colResizableTable td.bottom{
    border-bottom:1px solid #2e638e;
}

.grip{
    width:20px;
    height:15px;
    margin-top:-3px;
    margin-left:-5px;
    position:relative;
    z-index:88;
    cursor:e-resize;
}

.grip:hover{
    background-position-x:-20px;
}
.JCLRLastGrip .grip{
    background-position-y:-18px;
    left:-2px;
}

.dragging .grip{
    background-position-x:-40px;
}

.sampleText{
    position:relative;
    width:100%;
}

.dotted{
    background-repeat:repeat-y;
}
